# =====================
# 🔧 Node.js & React
# =====================
node_modules/
client/node_modules/
client/node_modules/.cache/
*.eslintcache

# =====================
# 🧠 Audio & Model Files
# =====================
*.wav
*.h5
*.pkl
*.save

# =====================
# 🧳 Zipped Files & Chunks
# =====================
*.zip
*.z*
*.tar.gz