.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1a1a2e;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}


h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00adb5;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007b7f;
}

.switch-form p {
  margin-top: 10px;
  font-size: 0.9rem;
}

.switch-form a {
  color: #00adb5;
  text-decoration: none;
}

.switch-form a:hover {
  text-decoration: underline;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

label input[type="checkbox"] {
  margin-right: 10px;
}

/* New styles for navigation */
.navbar-nav .nav-link {
  color: white; /* צבע לבן */
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
}

.navbar-nav .nav-link:hover {
  color: #ccc; /* צבע אפור בהיר כשעוברים עם העכבר */
  text-decoration: underline; /* קו תחתון להדגשה */
}

.navbar-brand {
  color: white; /* גם הלוגו מתאים */
}

.navbar-brand:hover {
  color: #ccc;
}
